body
{
  color: purple;
  background: yellow;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}

emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
    font-size: 30px;
    color: aliceblue;
    padding: 6px;
    border-radius: 10px;
    letter-spacing: 10px;
}
label{
    background-color: white;
    color: green;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
}